{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{% if  document.user.id  %}
    {% set readonly = true %}
    {% set item_name =  item.name|default(document.user.name) %}
    {% set item_username =  item.username|default(document.user.username) %}
    {% set item_email =  item.email|default(document.user.email) %}
    {% set item_phone =  item.phone|default(document.user.phone) %}
{% else %}
    {% set readonly = false %}
    {% set item_name =  '' %}
    {% set item_username = '' %}
    {% set item_email =  '' %}
    {% set item_phone = '' %}
{% endif %}

<h1 class="component-header">Add/Edit Ticket</h1>
<hr>



<form id="main-edit-form" action="{{ generate_url('tickets.tickets.save') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
    <div class="add-edit-ticket">
        <div class="well well-sm">Ticket Detail </div>

        <div class="ticket-detail-form">
            <div class="col-sm-12">
                <label>Title</label>
                {{ forms.input('title', 'text', item.title, null, null, null, 'required') }}
            </div>
            <div>
                <div class="col-sm-6">
                    <label>Department</label>
                    {{ forms.input('department_id', 'select', item.department_id, null, null, null, 'required', null, json_object.fields.department_id.parameters.options) }}
                </div>
                <div class="col-sm-6">
                    <label>Category</label>
                    {{ forms.input('category_id', 'select', item.category_id, null, null, null, 'required', null, json_object.fields.category_id.parameters.options) }}
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
            <div class="col-sm-12">
                <b>Description: </b>
                <small>Enter detailed and Understandable Information</small>
                <br>
                {{ forms.input('description', 'editor', item.description, null, null, null, 'required') }}
            </div>

            <div class="col-sm-12">
                <b>Attachment</b><br>
                {{ forms.input('attachment', 'file', item.attachment) }}
            </div>

            <div class="clearfix"></div>
            <br>

        </div>

        {% if  document.user.id  %}
            {{ forms.input('id', 'hidden', item.id) }}
            <br>
        {% endif %}

        <div>
            <div class="col-sm-4">
                <label>Name</label>
                {{ forms.input('name', 'name', item_name, null, null, null, 'required', readonly) }}
                <label>Username</label>
                {{ forms.input('username', 'username', item_username, null, null, null, 'required', readonly) }}
            </div>
            <div class="col-sm-4">
                <label>Email</label>
                {{ forms.input('email', 'email', item_email, null, null, null, 'required', readonly) }}
            </div>
            <div class="col-sm-4">
                <label>Phone</label>
                {{ forms.input('phone', 'phone', item_phone, null, null, null, 'required', readonly) }}
            </div>
            <div class="clearfix"></div>

            {% if  document.user.id  %}
                {{ forms.input('name', 'hidden', item_name) }}
                {{ forms.input('username', 'hidden', item_username) }}
                {{ forms.input('email', 'hidden', item_email) }}
                {{ forms.input('phone', 'hidden', item_phone) }}
            {% endif %}

            <div class="text-center">
                <a class="btn btn-danger btn-sm" href="{{ generate_url('tickets.tickets') }}" title='Cancel'>Cancel</a>
                <input class="btn btn-success btn-sm" name="id" type="submit" value="Submit">
            </div>

        </div>
    </div>

    {{ forms.input('_token' ) }} 

</form>

<style>
    #description{
        width:100% !important;
        max-width:100% !important;
        height: 100px;
    }
</style>

