{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Projects/assets/css/projects.css') }}
{{ set_assets('applications/Projects/assets/js/projects.js') }}

<br>

<form action="{{ generate_url('tickets.tickets') }}" method="POST">

    <div>
        <div class="col-md-8">
            <h1 class="component-header">Tickets List</h1>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success btn-sm pull-right" href="{{ generate_url('tickets.tickets.add') }}">
                <i class="fa fa-plus"></i>
                Add Ticket
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="tickets-list">
        {% if items|length > 0 %}
            {% for item in items %}


                {% if items|length > 0 %}
                    <div class="table-responsive">
                        <table width="100%" class="table table-condensed table-bordered">
                            <tbody>
                                {% for item in items %}
                                    <tr>

                                        <td>
                                            <b>
                                                <a href="{{ generate_url('tickets.tickets.detail', {'id':item.id}) }}" title="Detail">
                                                    {{ item.title }}
                                                </a>
                                            </b>
                                            <br>
                                            <b>Cat: </b>{{ item.category_id_title }}
                                            <b>Dept: </b>{{ item.department_id_title }}
                                        </td>

                                        <td>
                                            <i class="fa fa-envelope"></i> {{ item.email|default('-') }} | 
                                            <i class="fa fa-globe"></i> {{ item.website|default('-') }} <br>
                                            <i class="fa fa-clock-o"></i>
                                            {% if item.date_created != '0000-00-00 00:00:00' %}
                                                {{ item.date_created ? item.date_created|date('d M Y H:i:s',  document.timezone) }}
                                            {% endif %} &nbsp; &nbsp;
                                        </td>

                                        <td>
                                            {% if item.is_closed %}
                                                <div class="label label-danger text-center">
                                                    Ticket Closed
                                                </div>
                                            {% else %}
                                                <div class="label label-success text-center">
                                                    Ticket Open
                                                </div>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}               


            {% endfor %}            
        {% endif %}

        {% include "items.pagination.twig"%}

    </div>

    {{ forms.input('_token' ) }} 

</form>

